@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.video {
    position: fixed;
    /* 비디오를 화면 전체에 고정 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    z-index: 999999;
    display: none;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 비디오가 화면을 꽉 채우도록 설정 */
}

#skipButton {
    position: absolute;
    bottom: 20px;
    /* 화면 하단에서 20px 거리 */
    left: 50%;
    cursor: pointer;
}

body {
    width: 100%;
    overflow-x: hidden;
}

.bar {
    z-index: 9999;
    position: fixed;
    top: 80%;
    right: 0px;
}

#header {
    background-color: #001F3F;
    position: relative;
    width: 100%;
    height: 100vh;
}

#header h1 img {
    margin: 10px;
}

#menu {
    position: absolute;
    top: 30px;
    left: 300px;
}

/* .login {position: absolute;
        top:30px;
        right:100px;
        z-index: 999;
        }
.login a{color:white;
font-weight: bold;} */

#fixed {
    z-index: 999999;
    width: 100%;
    height: 80px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#fixed.scrolled {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid #ccc;
}

#fixed.scrolled #menu li a {
    color: #001F3F;
    /* 남색 */
}

#menu li {
    display: inline-block;
    margin-right: 40px;
}

#menu li a {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

#menu li:hover a {
    text-decoration: underline;
}

.menubtn {
    position: absolute;
    top: 15px;
    right: 0;
}

.menubtn img {
    width: 50px;
}

.mainimage {
    position: relative;
    left: 700px;
}

.mainletter {
    font-size: 60px;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 650px;
    left: 50px;
    letter-spacing: -5px;

}

.mainletter span {
    color: #FF7E4B;
}

#container {}


#second {
    position: relative;
}

.mentimg img {
    width: 100%;
    height: 100vh;
}

.towerment {
    position: absolute;
    top: 100px;
    left: 10%
}

.towerment p {
    color: white;
    font-size: 70px;
    letter-spacing: -5px;
    font-weight: bold;
    opacity: 0.8;
}

.ment1 {
    position: relative;
    left: 150px;
}

.ment1 span {
    color: #001F3F;
}

/* #locamark {display: none;} */
.loca1 {
    position: absolute;
    top: 400px;
    left: 150px;
}

.loca2 {
    position: absolute;
    top: 600px;
    left: 500px;
}

.loca3 {
    position: absolute;
    top: 400px;
    left: 1600px;
}

.loca4 {
    position: absolute;
    top: 780px;
    left: 1300px;
}

.loca1,
.loca3 {
    animation: loca1 3s 0s infinite;
}

@keyframes loca1 {
    0% {
        top: 400px;
        opacity: 0;
    }

    50% {
        top: 450px;
        opacity: 1;
    }

    51% {
        top: 449px;
        opacity: 0.8;
    }

    100% {
        top: 400px;
        opacity: 0;
    }
}

.loca2 {
    animation: loca2 3s 0s infinite;
}

@keyframes loca2 {
    0% {
        top: 600px;
        opacity: 0;
    }

    50% {
        top: 650px;
        opacity: 1;
    }

    51% {
        top: 649px;
        opacity: 0.8;
    }

    100% {
        top: 600px;
        opacity: 0;
    }
}

.loca4 {
    animation: loca4 3s 0s infinite;
}

@keyframes loca4 {
    0% {
        top: 780px;
        opacity: 0;
    }

    50% {
        top: 810px;
        opacity: 1;
    }

    51% {
        top: 809px;
        opacity: 0.8;
    }

    100% {
        top: 780px;
        opacity: 0;
    }
}

.ment1 span {
    display: inline-block;
    animation: ment1 3s 0s infinite;
}

@keyframes ment1 {
    0% {
        transform: rotate(-5deg);
    }

    50% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(-5deg);
    }
}

#third {
    width: 100%;
    height: 100vh;
    display: flex;
}

#third {
        background-image: url("../images/bgbg.jpg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 999;
}

.left span {
    color: #FF7E4B;
}

.left {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right {
    width: 55%;
    position: relative;
}
section { position:fixed; top:0px; left:0px; width:100%; height:100%; }
article { position:relative; width:20%; height:100%; background:url(../images/divider.png) no-repeat left center; float:right; overflow:hidden;/* border:1px solid red; */}  /* float:right; -- 첫번째 article부터 오른쪽에 배치. */

/* article 제목 */
article h2 { position:absolute; top:300px; left:20%; padding-left:15px;   border-left:3px solid #FF7E4B;   font:bold 20px Raleway; color:#001F3F; z-index:3; transition:all 0.2s; }
article div { position:absolute; left:0px; top:300px; width:100%; height:0px; background:#FF7E4B; opacity:0.5; z-index:2; transition:all 0.7s ; }

/* article 제목 호버 효과 */
article:hover h2 { color:#001F3F; border-left:3px solid #fff; left:20px; }
article:hover div { top:270px; height:70px;}

/* article 사진 */
article img { position:absolute; width:auto; height:100%; margin-top:0px; margin-left:-100px; opacity:0; z-index:1; }

/* 마우스 커서 변경 */
article {
    cursor: url(../images/moreView.png),auto;
}
article h3 { position:absolute; bottom:210px; right:-310px; font-weight: bold; font-size: 200%; color:#c1e0ff; text-align:right; opacity:1; z-index:4; }
article p { position:absolute;bottom:50px; right:-310px; width:300px; height:150px; font:16px arial bold; color:#ffffff; text-align:right; opacity:0.8; z-index:5; }
/* right:-310px; 해당 영역 밖으로 숨겨 놓았다. article p에 width:300px;와 height:150px;를 주지 않으면 bottom:50px;에 의해 p위쪽이 들쑥날쑥해진다. */



.box2 {
    /* background: url("../images/box2.png") no-repeat;
    background-size: cover; */
    background-color: antiquewhite;
}

/* .box1 {
    position: absolute;
    top: 0px;
    left: 200px;
    background-color: #FF7E4B;
}

.box2 {
    position: absolute;
    top: 100px;
    left: 600px;
}

.box3 {
    position: absolute;
    top: 450px;
    left: 200px;
    background-color: #001F3F;
}

.box4 {
    position: absolute;
    top: 550px;
    left: 600px;
    background-color: #b6b6b6;
} */

#fourth {
    position: relative;
}

#fourth h1 img {
    width: 100%;
    height: 100vh;
}

.fment {
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 80px;
    color: #001F3F;
    letter-spacing: -10px;
}

.fment img {
    width: 300px;
    height: 100px;
    margin-left: 60px;
}

.fment span {
    color: #FF7E4B;
    font-weight: bold;
    position: relative;
    top: -50px;
    display: inline-block;
    animation: fment 2s 0s infinite;
}

@keyframes fment {
    0% {
        transform: scale(1.0);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1.0);
    }
}

.appbtn {
    position: absolute;
    top: 500px;
    left: 100px;
}

.appbtn img {
    width: 300px;
    border: 1px solid #001F3F;
    border-radius: 50px;
    margin-bottom: 20px;
}

.appbtn img:hover {
    transform: scale(1.1);
    transition: all 1s ease;
}

#fifth {
    width: 100%;
    height: 100vh;
}

#fifthMent {
    text-align: center;
    margin-top: 10px;
    font-size: 60px;
    letter-spacing: -5px;
    transform: 'translateY(-20px)'
}

#fifthMent img {
    margin-bottom: 20px;
    border-radius: 20px;
}

#fifthMent span {
    color: #FF7E4B;
    font-weight: bold;
    font-size: 50px;
}

#fifth ul {
    background-color: #001F3F;
    width: 100%;
    height: 600px;
    margin-top: 30px;
    text-align: center;
}

.countMent {
    padding-top: 50px;
    transform: 'translateY(-20px)'
}

#fifth ul p span {
    font-weight: bold;
    font-size: 35px;
}

#fifth p {
    color: white;
}

#fifth li {
    height: 300px;
    display: inline-block;
    color: white;
    font-size: 55px;
    margin: 100px;
    position: relative;
}

#fifth li h1 {
    color: #FF7E4B;
}

.plus {
    position: absolute;
    top: -5px;
    right: -50px;
    font-size: 80px;
}

#fifth li p {
    font-size: 25px;
}

#fifth ul p {
    font-size: 30px;
}

#fifth ul p span {
    font-weight: bold;
}

#footer {
    width: 100%;
    background-color: #D9D9D9;
}

#foot {
    height: 150px;
}

.flfl li {
    margin-right: 20px;
}

.bold {
    font-weight: bold;
    font-size: 17px;
    text-decoration: underline;
}

#foot ul li {
    display: inline;
}

#foot ul {
    margin-bottom: 10px;
}

#foot ul li a {
    color: rgb(0, 0, 0);
}

#foot {
    padding-left: 20px;
    padding-top: 20px;
}

#foot h1 span {
    font-size: 16px;
}

address {
    text-align: center;
    color: gray;
    position: relative;
    top: 40px;
}

.sns {
    position: relative;
    left: 80%;
    top: -100px;
}

.sns li {
    display: inline;
    margin-right: 50px;
}

.sns ul li img {
    transform: scale(1.5);
}
