@charset "utf-8";

*{margin:0; padding:0;}
li {list-style-type:none;}
 a {text-decoration:none; color:#000;}
 a:hover {text-decoration:underline;}
 img {vertical-align:middle; border:none;} /*이미지에 생기는 1px정도의 차이를 없애주기위해 버티컬 사용*/
 body {font-size:16px; font-family:arial; width:100%; height:auto; overflow-x:hidden ;}
 
 @media screen and (min-width:521px) and (max-width:1199px){

    
    #wrap{background-color: #E8E8E8;}
    #header { width:100%; height:200px; background-color: #E8E8E8;}
         h1 { display: inline;  margin: 20px;}
            #menu { 
                position: absolute; 
                top: 30px; 
                left: 300px; }
            #menu li { 
                display: inline-block; 
                margin-right: 40px; }
            
            #menu li a {
                color: black; 
                font-weight: bold;}
            
                .hamBtn {
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    top: 3%;
                    right: 3%;
                    cursor: pointer;}
                    .sns{display: none;}
                /*.sns {
                        position: absolute;
                        top: 35px;
                        right: 100px;
                    }
                    .sns li{display: inline;margin-right: 20px;}  */  

                    #container { clear:both }
                    #slider{
                        width:100%;
                        height:100vh;
                        background-color: #E8E8E8;
                        
                        
                    /*background: #E8E8E8 url('../images/iPhone 12 Pro.png') no-repeat left bottom;*/ 
                    }
                       
                        #iphoneWrap{
                            float: right;
                            position: relative;
                            width: 30%;
                            height: 100vh;
                        }
                        #iphone {
                                width: 50%;
                                max-width: 100%;
                                position: absolute;
                                bottom: -25%;
                                left: 10%;
                                transform: translateX(-50%);
                        }
                        #app{
                            float: left;
                                position: relative;
                                width: 60%;
                                height: 100vh;
                                text-align: center;
                                left:5%;
                        }
                            #app h2{
                            width: 100%;
                            text-align:center; 
                            color:#FF7E4B; 
                            font-size: 60px; 
                            position:absolute; 
                            top: 5%;
                            margin: 0 auto;    
                            font-weight: 900;
                        } 
                            #app span{
                                width: 100%;
                                text-align:center; 
                                color:#000; 
                                font-size: 35px; 
                                font-weight: 500px;
                                position:absolute; 
                                top: 30%;
                                left:0;
                                margin: 0 auto; 
                                font-weight: 900;    
                            }         
                                #app p{
                                width: 100%;
                                text-align:center; 
                                color:#000; 
                                font-size: 35px; 
                                position:absolute; 
                                top: 40%;
                                margin: 0 auto;   
                                
                            }         
                                #app .text{
                                    font-size:25px;
                                    margin-top: 40%;
                                }
                                #icon{ position: relative;}
                                    .apple{
                                        float:left;
                                        width:15%;
                                        height:auto;
                                        margin-top: -20%;
                                        margin-left: 12%;
                                    }
                                    .google{
                                        float:left;
                                        width:15%;
                                        height:auto;
                                        margin-top: -20%;
                                        margin-left: 38%;
                                    }
            .bar {
                position:fixed; 
                bottom:100px; 
                right:0; 
                z-index: 9999;
                }

        #content{height:100vh; }
        .intro{clear:both; background-color: #E8E8E8;}
        .introImgwrap{
            float: left;
            position: relative;
            width: 40%;
            height: 100vh;
            }
            .introImg{
            width: 80%;
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translateX(-50%);
                    }
        .introTxt{
            float: left;
            position: relative;
            width: 60%;
            height: 100vh;
            left:-3%;
        }   
            .introTxt h2{
                width: 100%;
                text-align:center; 
                color:#FF7E4B; 
                font-size: 38px; 
                position:absolute; 
                top: 30%;
                margin: 0 auto;    
            }         
            .introTxt p{
                width: 100%;
                text-align:center; 
                color:#000; 
                font-size: 30px; 
                position:absolute; 
                top: 40%;
                margin: 0 auto;    
            }         
          
                  
            .home{}
                .homeImgwrap{
                        float: right;
                        position: relative;
                        width: 40%;
                        height: 100vh;
                        }
                        .homeImg{
                        width: 40%;
                        position: absolute;
                        top: 30%;
                        left: 50%;
                        transform: translateX(-50%);
                                }
                .homeTxt{
                        float: left;
                        position: relative;
                        width: 60%;
                        height: 100vh;
                        left:5%;
                    }   
                        .homeTxt h2{
                            width: 100%;
                            text-align:center; 
                            color:#FF7E4B; 
                            font-size: 38px; 
                            position:absolute; 
                            top: 30%;
                            margin: 0 auto;    
                        }         
                        .homeTxt p{
                            width: 100%;
                            text-align:center; 
                            color:#000; 
                            font-size: 30px; 
                            position:absolute; 
                            top: 40%;
                            margin: 0 auto;    
                        }
            .park{clear:both;}
                .parkImgwrap{
                    float: left;
                    position: relative;
                    width: 40%;
                    height: 100vh;
                    }
                    .parkImg{
                    width: 60%;
                    position: absolute;
                    top: 30%;
                    left: 50%;
                    transform: translateX(-50%);
                            }
                .parkTxt{
                    float: left;
                    position: relative;
                    width: 60%;
                    height: 100vh;
                    left:-5%;
                }   
                    .parkTxt h2{
                        width: 100%;
                        text-align:center; 
                        color:#FF7E4B; 
                        font-size: 38px; 
                        position:absolute; 
                        top: 30%;
                        margin: 0 auto;    
                    }         
                    .parkTxt p{
                        width: 100%;
                        text-align:center; 
                        color:#000; 
                        font-size: 30px; 
                        position:absolute; 
                        top: 40%;
                        margin: 0 auto;    
                    }
            .myCar{background-color: #E8E8E8;}
                .myCarImgwrap{
                            float: right;
                            position: relative;
                            width: 40%;
                            height: 100vh;
                            }
                            .myCarImg{
                                width: 50%;
                                position: absolute;
                                top: 30%;
                                left: 50%;
                                transform: translateX(-50%);
                                    }
                    .myCarTxt{
                            float: left;
                            position: relative;
                            width: 60%;
                            height: 100vh;
                            left:5%;
                        }   
                            .myCarTxt h2{
                                width: 100%;
                                text-align:center; 
                                color:#FF7E4B; 
                                font-size: 38px; 
                                position:absolute; 
                                top: 30%;
                                margin: 0 auto;    
                            }         
                            .myCarTxt p{
                                width: 100%;
                                text-align:center; 
                                color:#000; 
                                font-size: 30px; 
                                position:absolute; 
                                top: 40%;
                                margin: 0 auto;    
                            }          
 
           

    #footer{ clear: both; background-color: #D9D9D9; position: relative; text-align: center;}
        #foot {height: 150px;  padding: 20px 0 0 20px; }
            #foot ul { margin-bottom: 10px; }
            #foot ul li{display: inline;}
                .flfl li {margin-right: 20px;}
                .flfl li.bold {font-weight: bold; text-decoration: underline;}
                #foot span{ font-size: 16px; display: inline;}
                address{
                    text-align: center;
                    color: gray;
                    position: relative;
                    top:40px;
                }
           
 }