@charset "utf-8";

* { 
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
li { list-style: none; }
a { text-decoration: none; color: #000; }
/*--------reset--------*/
@media screen and (min-width:1200px) {
    body { font-size:16px; }
    .quickMenu {
        position: fixed;
        bottom: 30px;
        right: 30px;
        z-index: 999999;
    }
    
    .chatBotBtn {
        width: 60px;
        height: 60px;
        background: #001F3F;
        border: 2px solid #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* 중앙 정렬 */
        cursor: pointer;
        margin-top: 10px;
        /* quickTopBtn과 간격을 줌 */
    }

    header {
        position: relative;
        z-index: 9999;
    }
    /*헤더*/    
    h1 img { margin: 10px; }
    
    /*네비게이션*/
    .gnb {
    position: absolute;
    top: 30px;
    left:300px;
    }
    .gnb li {
    display: inline-block;
    margin-right: 40px;
    }
    .gnb li a {
    font-weight: bold;
    font-size: 20px;
    color:#000;
    }
    .gnb li:hover a {
    color: #aaa;
    }
    .hamBtn {
        display: none;
    }
    .sns {
        position: absolute;
        top: 35px;
        right: 120px;
    }
        .sns li{
            display: inline;
            margin-right: 20px;
        }

    .indexLogin {
        position: absolute;
        top:32px;
        right: 50px;
        color: #000;
        font-size: 20px;
        font-weight: bold;
    }
        /*경로*/
        .locationBar { 
            position: relative; /*:after의 position의 기준*/
            right: 15%;
            text-align: right;
            
        }
        .locationBar a:hover { text-decoration: underline; }
            .locationBar a:after {
                content: ""; /*없으면 background 이미지가 보이지 않음*/
                background: url(../images/angle-right-solid.svg) no-repeat;
                width: 8px;
                height: 8px;
                position: absolute; /*센터 정렬을 위한 코드*/
                top: 50%;
                transform: translateY(-50%);
            }
            .locationBar a:last-child:after {display:none}

        /*타이틀*/
        .title {
            text-align: center;
            font-size: 3em;
            margin: 20px 0;
        }

        /*검색창*/
        .searchBox{
            width: 725px;
            display: block;
            margin: 0 auto;
            position: relative; /*searchBtn의 기준점*/
            border-bottom: 2px solid #FF7E4B;

        }
            .inputBox {
                width: 725px;
                height: 40px;
                margin: 0 auto;
                border: none;
                font-size: 20px;
                padding-left: 10px;
            }
            .inputBox:focus { outline:none; }
            .searchBtn {
                background: url(../images/magnifying-glass-solid.svg);
                width: 25px;
                height: 25px;
                position: absolute; /*Y축 중앙정렬을 위한 코드 float:right를 주게 되면 inputBox와 높이를 맞추기 어려워서 position으로 조절*/
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
                border: none;
                cursor: pointer;
            }

        /*게시판*/
        .boardWrap { 
            width: 1100px; 
            min-height: 500px; /*footer의 움직임 방지*/
            margin: 50px auto;
            border-top: 2px solid #000;
        }
            .thead, .tbody {
                display: flex;
                padding: 15px 0;
                width: 100%;
                border-bottom: 1px solid #D9D9D9;
                text-align: center;
            }
            .thead {
                font-weight: bold;
                font-size: 18px;
            }
            .tbody .boardTitle {
                text-align: left;
                cursor: pointer;
            }
                .boardNum { width: 10%; }
                .boardTitle { width: 70%; }
                .boardDate { width: 10%; }
                .boardView { width: 10%; }
            
    /*풋터*/
    #footer{
        background-color: #D9D9D9; 
        text-align: center; 
        width: 100%;
    }
        #foot {
            height: 140px; 
            margin-top: 20px;
        }
            #foot ul { margin-bottom: 5px; }
            #foot ul.flfl li{ padding-right: 10px;}
            #foot ul.flfl li:last-child { padding-right: 0px;}
                #foot ul li{ display: inline; }
                    .flfl li.bold {
                        font-weight: bold;
                        text-decoration: underline;
                    }
            #foot h2 span{ font-size: 16px;}
            address{
                text-align: center;
                color: gray;
                margin-top: 10px;
                font-style: normal;
            }
}