@charset "utf-8";

* { 
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
li { list-style: none; }
a { text-decoration: none; color: #000; }
/*--------reset--------*/
@media screen and (min-width:521px) and (max-width:1199px) {
body { font-size:16px; }
.quickMenu {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 999999;
}

.chatBotBtn {
    width: 60px;
    height: 60px;
    background: #001F3F;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* 중앙 정렬 */
    cursor: pointer;
    margin-top: 10px;
    /* quickTopBtn과 간격을 줌 */
}
    /*로고*/    
    h1 { 
        position: relative; 
        z-index: 9999;
    }
        h1 img { margin: 10px; }
    /*네비게이션*/
    .gnb {
        margin: 130px 0 0 20px;
        display: none;
    }

    /*addClass*/
    .gnb.open {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 8888;
    }
        .gnb li {       
            margin-top: 20px;     
            display: block;
            margin-right: 40px;
        }
            .gnb li a {
                font-weight: bold;
                font-size: 35px;
                color: #fff;
            }
            .gnb li:hover a {
                color: #FF7E4B;
            }
    .sns { display: none; }
    .indexLogin { display: none; }
    /*햄버거 버튼*/
    .hamBtn, .hamBtn span {
        display: inline-block;
        transition: all 0.4s;
        box-sizing: border-box;
    }

    .hamBtn {
        position: relative; /*span의 기준이 되기 때문에 absolute로 설정하면 span의 위치가 틀어져 스크립트 효과가 나타나지 않는다*/
        top: -60px;
        left: 90%;
        width: 50px;
        height: 44px;
        z-index: 9999;  /*h1보다 높거나 같지 않으면 스크립트 효과가 나타나지 않음*/
    }

        .hamBtn span {
            position: absolute;
            left: 0;
            width: 100%;
            height: 4px;
            background-color: #000;
            border-radius: 4px;
        }
        .hamBtn span:nth-of-type(1) { top: 0; }
        .hamBtn span:nth-of-type(2) { top: 20px; }
        .hamBtn span:nth-of-type(3) { bottom: 0; }
        /*active-1의 addClass*/
        .hamBtn.active-1 span:nth-of-type(1) { transform: translateY(20px) rotate(-45deg); }
        .hamBtn.active-1 span:nth-of-type(2) { opacity: 0; }
        .hamBtn.active-1 span:nth-of-type(3) { transform: translateY(-20px) rotate(45deg); }
    .hamBg {
        background-color: #001F3F;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 7777;
        width: 100%;
        height: 100vh;
    }
    
        /*경로*/
        .locationBar { 
            position: relative; /*:after의 position의 기준*/
            right: 15%;
            text-align: right;
            display: none;
        }
            .locationBar a:after {
                content: ""; /*없으면 background 이미지가 보이지 않음*/
                background: url(../images/angle-right-solid.svg) no-repeat;
                width: 8px;
                height: 8px;
                position: absolute; /*센터 정렬을 위한 코드*/
                top: 50%;
                transform: translateY(-50%);
            }
            .locationBar a:last-child:after {display:none}
    
        /*타이틀*/
        .title {
            text-align: center;
            font-size: 3em;
            margin: 20px 0;
        }

        /*검색창*/
        .searchBox{
            width: 90%;
            display: block;
            margin: 0 auto;
            position: relative; /*searchBtn의 기준점*/
            border-bottom: 2px solid #FF7E4B;

        }
            .inputBox {
                width: 100%;
                height: 40px;
                margin: 0 auto;
                border: none;
                font-size: 20px;
                padding-left: 10px;
            }
            .inputBox:focus { outline:none; }
            .searchBtn {
                background: url(../images/magnifying-glass-solid.svg);
                width: 25px;
                height: 25px;
                position: absolute; /*Y축 중앙정렬을 위한 코드 float:right를 주게 되면 inputBox와 높이를 맞추기 어려워서 position으로 조절*/
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
                border: none;
                cursor: pointer;
            }

        /*카테고리 버튼*/
        .categoryBtn_wrap { text-align: center; }
            .categoryBtn_wrap li {
                background-color: #D9D9D9;
                width: 80px;
                height: 80px;
                border-radius: 25%;
                display: inline-block;  /*float을 주면 text-align: center가 풀리게 된다*/
                margin: 40px 10px; 
                font-weight: bold;
                line-height: 80px;
                cursor: pointer;
                font-size: 14px;
            }
            .categoryBtn_wrap li.on {
                background-color: #FF7E4B;
                color: #fff;
            }

        /*게시판*/
        .boardWrap { 
            width: 90%; 
            min-height: 400px; /*footer의 움직임 방지*/
            margin: 0 auto;
        }
        .boardWrap ul {
            border-top: 2px solid #000;
            vertical-align: top; /*모든 board의 시작점을 상단으로 맞추기 위해*/
            display: none;
        }
        .boardWrap ul:first-child {
            display: block;
        }
            .boardWrap li {
                display: table;
                width: 100%; 
                font-size: 20px;
                padding: 15px 0;
                border-bottom: 1px solid #D9D9D9;
                background: url(../images/angle-down-solid.svg) no-repeat right 15px/20px;
                cursor: pointer;
            }
                .boardWrap li div.listicon {
                    display: table-cell;
                    width: 5%;
                    text-align: center;
                    padding-right: 10px;
                }
                .boardWrap li div.listTxt{
                    width: 90%;
                    font-weight: bold;
                    margin-bottom: 10px;
                }
                .boardWrap li div.accordionBox {
                    width: 90%;
                    display: none;
                }
                .boardWrap li div.slide {
                    display: block;
                }
                    .boardWrap li:hover a {
                        color: #FF7E4B;
                    }
                    
    /*풋터*/
    #footer{
        background-color: #D9D9D9; 
        text-align: center; 
        width: 100%;
    }
        #foot {
            height: 140px; 
            margin-top: 20px;
        }
            #foot ul { margin-bottom: 5px; }
            #foot ul.flfl li{ padding-right: 10px;}
            #foot ul.flfl li:last-child { padding-right: 0px;}
                #foot ul li{ display: inline; }
                    .flfl li.bold {
                        font-weight: bold;
                        text-decoration: underline;
                    }
            #foot h2 span{ font-size: 16px;}
            address{
                text-align: center;
                color: gray;
                margin-top: 10px;
                font-style: normal;
            }
}
