@charset "utf-8";


*{margin:0; padding:0;}
li {list-style-type:none;}
 a {text-decoration:none; color:#000;}
 a:hover {text-decoration:underline;}
 img {vertical-align:middle; border:none;} /*이미지에 생기는 1px정도의 차이를 없애주기위해 버티컬 사용*/
 body {font-size:16px; font-family:arial; width:100%; height:auto; overflow-x:hidden ;}

/*--------reset--------*/
@media screen and (max-width:520px) {
body { 
    font-size:16px;
    overflow-x: hidden;}

    #wrap{}
    #header { width:100%; height:200px; background-color: #E8E8E8;}
         h1 { display: inline;  margin: 20px;}

            #menu {display: none; }
                
                .hamBtn {
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    top: 3%;
                    right: 3%;
                    cursor: pointer;
                }
    #container{}
        #slider {      
            position: relative;
            width: 100%;   /*슬라이더 전체 너비 */
            height: 700px;  /* 슬라이더 높이 */
            margin: 0 auto;   /* 가운데 정렬 */
            overflow: hidden;
            background-color: #E8E8E8; 
                 }
            .cover2{
                position: absolute;
                bottom:-90px;
                right:-60px;
                width:500px;
                height:600px;
                     }
            .imgView{display: none;}    
           
        #app{
        clear:both; 
        text-align: center; 
        margin: 20px auto; 
        position: relative;
        }
            #app h2 {
                color:#FF7E4B; 
                font-size: 45px; 
                position: absolute; 
                top:-1000px; 
                right:10px;
                        }
            #app span {
                color:#000000; 
                display: none;
                        }
            #app p{
                color:#000000; 
                font-size: 14px; 
                position: absolute; 
                top:-700px; 
                right:10px;
                    }
            #app .text{
                margin-top: 130px;
                margin-right: 130px;
                font-weight: bold;
                        }
            #app img{display: none;}
            #app .logoImg{
                width: 30px; 
                height: 30px; 
                position: absolute; 
                top:-200px; 
                right:0;}      

        #content{}
           .intro,.park,.home,.myCar {width:100%; height:600px; clear: both; margin-top: 20px; position: relative;}
           .intro,.park{float:left; }
           .home,.myCar{float:right; background-color: #E8E8E8;}
                h2{
                    text-align:center; 
                    color:#FF7E4B; 
                    font-size: 30px; 
                    position:absolute; 
                    font-weight:bold; 
                    margin-top:200px;} 
                p{
                    text-align:center;
                    clear: both; 
                    position:absolute; 
                    margin-top: 50px; 
                    font-size:16px;
                } 
                span{display: block;}

                .img1,.img2,.img3,.img4{ position: absolute;}
                
                .img1{bottom:-170px; left:-130px; width:700px;}
                .img2{bottom:-130px; left:-120px; width:700px;}
                .img3{bottom:-130px; left:-50px; width:600px;}
                .img4{bottom:-130px; left:-120px; width:700px;}

                .intro h2{left:80px; top:-150px;}
                .intro p{ left:120px; top:120px;}
                .home h2{ left:10px; top:-150px;}
                .home p{  left:70px; top:60px;}
                .park h2{left:0px; top:-150px;}
                .park p{ left:30px; top:60px;}
                .myCar h2{left:80px; top:-150px;}
                .myCar p{ left:30px; top:60px;}
              
        .bar {
            position:fixed; 
            bottom:100px; 
            right:0; 
            z-index: 9999;
            }

    #footer{ clear: both; background-color: #D9D9D9; position: relative; text-align: center; font-size: 14px;}
        #foot {height: 150px;  padding: 20px 0 0 20px; }
            #foot ul { margin-bottom: 10px; }
            #foot ul li{display: inline;}
                .flfl li {margin-right: 20px;}
                .flfl li.bold {font-weight: bold; text-decoration: underline;}
                #foot h1 {font-size: 20px;}
                #foot span{ font-size: 14px; display: inline;}
                address{
                    text-align: center;
                    color: gray;
                    position: relative;
                    top:40px;
                }
            .sns{display: none;}
            /*.sns {position: absolute; right: 50px; top:30px;}
                .sns li{display: inline; }
                .sns ul li img {transform: scale(1.5); margin-right: 50px;} */

 }

