@charset "utf-8";

*{margin:0; padding:0;}
li {list-style-type:none;}
 a {text-decoration:none; color:#000;}
 a:hover {text-decoration:underline;}
 img {vertical-align:middle; border:none;} /*이미지에 생기는 1px정도의 차이를 없애주기위해 버티컬 사용*/
 body {font-size:16px; width:100%; height:auto; overflow-x:hidden ;}


@media screen and (min-width:1200px) {
    
   #wrap{background-color: #E8E8E8;}
    #header { width:100%; height:200px; background-color: #E8E8E8;position: relative;
        z-index: 9999;}

    /*헤더*/    
    h1 img { margin: 10px; }
    
    /*네비게이션*/
    .gnb {
    position: absolute;
    top: 30px;
    left:300px;
    }
    .gnb li {
    display: inline-block;
    margin-right: 40px;
    }
    .gnb li a {
    font-weight: bold;
    font-size: 20px;
    color:#000;
    }
    .gnb li:hover a {
    color: #aaa;
    }
    .hamBtn {
        display: none;
    }
    .sns {
        position: absolute;
        top: 35px;
        right: 120px;
    }
        .sns li{
            display: inline;
            margin-right: 20px;
        }

    .indexLogin {
        position: absolute;
        top:32px;
        right: 50px;
        color: #000;
        font-size: 20px;
        font-weight: bold;
    }
    
    #container { clear:both }
        #slider{
            width:100%;
            height:100vh;
            background-color: #E8E8E8;
        }
           
        #iphoneWrap{
            float: right;
            position: relative;
            width: 40%;
            height: 100vh;
            }
        #iphone {
                width: 90%;
                max-width: 100%;
                position: absolute;
                bottom: -25%;
                left: 70%;
                transform: translateX(-50%);
            }
            #app{
                float: left;
                position: relative;
                width: 60%;
                height: 100vh;
                text-align: center;
            }
            #app h2{
                width: 100%;
                text-align:center; 
                color:#FF7E4B; 
                font-size: 4vw; /* 뷰포트 너비의 4% */
                position:absolute; 
                top: 5%;
                margin: 0 auto;    
                font-weight: 900;
            } 
                #app span{
                    width: 100%;
                    text-align:center; 
                    color:#000; 
                    font-size: 2vw; /* 뷰포트 너비의 2% */
                    position:absolute; 
                    top: 30%;
                    left:0;
                    margin: 0 auto; 
                    font-weight: 900;    
                }         
                    #app p{
                    width: 100%;
                    text-align:center; 
                    color:#000; 
                    font-size: 1.5vw; /* 뷰포트 너비의 1.5% */
                    position:absolute; 
                    top: 40%;
                    margin: 0 auto;   
                    
                }         
                    #app .text{
                        font-size: 1.5vw; /* 뷰포트 너비의 2.5% */
                        margin-top: 15%;
                    }
                    #icon{ position: relative;}
                        .apple{
                            float:left;
                            width:10%;
                            height:auto;
                            margin-top: -15%;
                            margin-left: 18%;
                        }
                        .google{
                            float:left;
                            width:10%;
                            height:auto;
                            margin-top: -15%;
                            margin-left: 32%;
                        }

            
                  /*  .cover{
                        width:350px; 
                        height:690px;
                        position: relative;
                        top:180px;
                        left:-750px;
                    }    
                .imgView {
                      display: flex; 
                       width: 300px;   이미지 개수 * 각 이미지 너비
                        height: 600px;
                        position: absolute;
                        z-index: 5;
                        top:150px;
                        left:-0;
                        overflow: hidden;
                    }
                    .imgView li{
                        position: absolute;
                        top:0;
                        left:0;
                        margin-right: 10px;
                        

                    }
                    .slide {
                        width: 300px;  개별 이미지 너비
                        height: 650px;
                        flex-shrink: 0;
                    }
                    .slide img {
                        width: 300px;
                        height: 650px;
                       
                    }   */
                    
                 
        #content{}
            .intro{clear:both; background-color: #E8E8E8;  overflow: hidden;}
                .introImgwrap{
                    float: left;
                    position: relative;
                    width: 40%;
                    height: 100vh;
                    overflow: hidden;
                    }
                    .introImg{
                    width: 130%;
                    position: absolute;
                    top: 100vh;
                    left: 55%;
                    transform: translateX(-50%); /* 수평 중앙 정렬 */
                    transition: top 0.3s ease-out; /* 부드러운 전환 효과 */
                            }
                .introTxt{
                    float: left;
                    position: relative;
                    width: 60%;
                    height: 100vh;
                }   
                    .introTxt h2{
                        width: 100%;
                        text-align:center; 
                        color:#FF7E4B; 
                        font-size: 3vw; /* 뷰포트 너비의 3% */
                        position:absolute; 
                        top: 30%;
                        margin: 0 auto;    
                    }         
                    .introTxt p{
                        width: 100%;
                        text-align:center; 
                        color:#000; 
                        font-size: 2vw; /* 뷰포트 너비의 2% */ 
                        position:absolute; 
                        top: 50%;
                        margin: 0 auto;    
                    }         
                  
            .home{overflow: hidden; background-color: #E8E8E8;}
                .homeImgwrap{
                        float: right;
                        position: relative;
                        width: 40%;
                        height: 100vh;
                        overflow: hidden;
                        }
                        .homeImg{
                        width: 130%;
                        position: absolute;
                        top:100vh;
                        left: 50%;
                        transform: translateX(-50%); /* 수평 중앙 정렬 */
                        transition: top 0.3s ease-out; /* 부드러운 전환 효과 */
                                }
                .homeTxt{
                        float: left;
                        position: relative;
                        width: 60%;
                        height: 100vh;
                    }   
                        .homeTxt h2{
                            width: 100%;
                            text-align:center; 
                            color:#FF7E4B; 
                            font-size: 3vw; 
                            position:absolute; 
                            top: 30%;
                            margin: 0 auto;    
                        }         
                        .homeTxt p{
                            width: 100%;
                            text-align:center; 
                            color:#000; 
                            font-size: 2vw; 
                            position:absolute; 
                            top: 50%;
                            margin: 0 auto;    
                        }
            .park{clear:both; overflow: hidden; background-color: #E8E8E8; }
                .parkImgwrap{
                    float: left;
                    position: relative;
                    width: 40%;
                    height:100vh;
                    overflow: hidden;
                    }
                    .parkImg{
                    width: 120%;
                    position: absolute;
                    top:100vh;
                    left: 50%;
                    transform: translateX(-50%); /* 수평 중앙 정렬 */
                    transition: top 0.3s ease-out; /* 부드러운 전환 효과 */
                            }
                .parkTxt{
                    float: left;
                    position: relative;
                    width: 60%;
                    height: 100vh;
                }   
                    .parkTxt h2{
                        width: 100%;
                        text-align:center; 
                        color:#FF7E4B; 
                        font-size: 3vw; 
                        position:absolute; 
                        top: 30%;
                        margin: 0 auto;    
                    }         
                    .parkTxt p{
                        width: 100%;
                        text-align:center; 
                        color:#000; 
                        font-size: 2vw; 
                        position:absolute; 
                        top: 50%;
                        margin: 0 auto;    
                    }
            .myCar{background-color: #E8E8E8; overflow: hidden;}
                .myCarImgwrap{
                            float: right;
                            position: relative;
                            width: 40%;
                            height:100vh;
                            overflow: hidden;
                            }
                            .myCarImg{
                                width: 130%;
                                position: absolute;
                                top:100vh;
                                left: 50%;
                                transform: translateX(-50%); /* 수평 중앙 정렬 */
                                transition: top 0.3s ease-out; /* 부드러운 전환 효과 */
                                    }
                    .myCarTxt{
                            float: left;
                            position: relative;
                            width: 60%;
                            height: 100vh;
                        }   
                            .myCarTxt h2{
                                width: 100%;
                                text-align:center; 
                                color:#FF7E4B; 
                                font-size: 3vw;  
                                position:absolute; 
                                top: 30%;
                                margin: 0 auto;    
                            }         
                            .myCarTxt p{
                                width: 100%;
                                text-align:center; 
                                color:#000; 
                                font-size: 2vw; 
                                position:absolute; 
                                top: 50%;
                                margin: 0 auto;    
                            }          
 
           

        .bar {
            position:fixed; 
            bottom:100px; 
            right:0; 
            z-index: 9999;
            }
            .top {
                opacity: 0;
                transform: translateY(100%);
                transition: opacity 0.5s, transform 0.5s;
            }
            
            .top.show {
                opacity: 1;
                transform: translateY(0);
            }

    /*풋터*/
    #footer{
        background-color: #D9D9D9; 
        text-align: center; 
        width: 100%;
    }
        #foot {
            height: 140px; 
            margin-top: 20px;
        }
            #foot ul { margin-bottom: 5px; }
            #foot ul.flfl li{ padding-right: 10px;}
            #foot ul.flfl li:last-child { padding-right: 0px;}
                #foot ul li{ display: inline; }
                    .flfl li.bold {
                        font-weight: bold;
                        text-decoration: underline;
                    }
            #foot h2 span{ font-size: 16px;}
            address{
                text-align: center;
                color: gray;
                margin-top: 10px;
                font-style: normal;
            }
}            